@import "base/_general.scss";
@import "base/_fonts.scss";
@import "smart-grid.scss";

.wrapper {
  @include wrapper();
}

$color-black: #434343;
$color-green: #07A429;
$color-gray: #6C6C6C;
$margin-l: 24px;
$margin-m: 12px;

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;

  color: $color-black;
  background-color: #ffffff;
  overflow-x: hidden;
}

.main {
  flex: 1 0 auto;
  width: 86%;
  margin: 0 auto;

  @include lm-block() {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: $color-black;

  &:hover {
    color: $color-green;
  }
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-green;
  box-shadow: 0 4px 20px rgba(2, 134, 31, 0.4);
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -.3px;
  color: #fff;
  padding: 10px 40px;
  box-sizing: border-box;

  &:hover {
    box-shadow: none;
  }

  &:active {
    background: #02861F;
    box-shadow: none;
  }

  &:disabled {
    background: #8A8A8A;
    box-shadow: none;
  }
}

.h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.015em;
  color: $color-black;
  margin-bottom: $margin-l;

  @include sm-block() {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}

.h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  letter-spacing: 0.025em;
  margin-bottom: 50px;

  @include sm-block() {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 24px;
  }
}

svg {
  width: 24px;
  height: 24px;
}

.green {
  color: $color-green;
}

.nav {
  height: 34px;
  box-sizing: border-box;

  &__items {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    background-color: $color-black;
    border-radius: 6px;
    overflow: hidden;

    @include md-block() {
      display: none;
    }
  }

  .nav {
    margin-left: 60px;

    @include lm-block() {
      margin-left: 20px;
    }

    ul {
      width: 100%;
      display: flex;
      height: 100%;

      li {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 19px;

        @include lm-block() {
          padding: 0 10px;
          text-align: center;
        }

        &.active, &:hover, &.bg-color {

          a {
            color: #000;
          }
        }

        a {
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          color: #fff;
        }
      }
    }
  }
}

.mobile-nav-button {
  position: relative;
  width: 18px;
  height: 14px;
  cursor: pointer;
  display: none;
  z-index: 99999;

  @include md-block() {
    display: block;
  }

  .mobile-nav-button__line {
    position: relative;
    width: 100%;
    height: 2px;
    transition: 1s ease;
    background-color: $color-black;
    border-radius: 2px;

    &:nth-of-type(2) {
      margin: 4px 0;
    }
  }

  .mobile-nav-button__line--1 {
    position: absolute;
    top: 13px;
    transform: rotate(45deg);
  }

  .mobile-nav-button__line--2 {
    display: none;
  }

  .mobile-nav-button__line--3 {
    position: absolute;
    top: 13px;
    transform: rotate(135deg);
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  z-index: 9998;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 180px;
  height: 100vh;
  transition: 0.6s ease;
  background: #fff;
  opacity: 0;

  ul {
    margin-top: 15vh;

    li {
      margin-bottom: 32px;

      a {
        font-weight: 500;
        line-height: 27px;

        &:hover {
          color: $color-green;
        }
      }
    }
  }

  .phone {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 30px;

    span {
      margin-left: 8px;
    }
  }
}

.mobile-menu--open {
  right: 0;
  opacity: 1;
}

.header {
  flex: 0 0 auto;
  box-shadow: 0 4px 34px rgba(0, 0, 0, 0.1);
  padding: 22px 0;
  box-sizing: border-box;

  @include md-block() {
    padding: 14px 0;
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
      &--logo {
        font-weight: 700;
        line-height: 22px;

        @include md-block() {
          font-weight: 700;
          font-size: 20px;
        }
      }

      &--nav {
        width: 44%;

        @include lm-block() {
          width: 60%;
        }

        @include md-block() {
          display: none;
        }
      }

      &--menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          font-weight: 500;

          &.active {
            color: $color-green;
          }
        }
      }

      &--phone {
        display: flex;
        justify-content: center;
        align-items: center;

        @include xs-block() {
          display: none;
        }

        &:hover {
          svg {
            fill: $color-green;
          }
        }

        span {
          margin-left: 8px;
        }
      }
    }
  }

  .bg {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(67, 67, 67, .5);
    transition: 0.6s ease;
  }

  &-bg {
    .bg {
      display: block;
    }
  }
}

.section {
  padding-top: 100px;

  @include xxs-block() {
    padding-top: 50px;
  }
}

.section-one {

  @include xxs-block() {
    padding-top: 32px;
  }

  &__items {
    @include row-flex();

    &__item {
      @include col();

      &--text {
        @include size(7);
        @include size-xxs(12);
        padding-right: 5%;
        color: $color-gray;

        .btn {
          width: 240px;
          margin-top: 40px;

          @include xxs-block() {
            margin-top: 16px;
          }
        }
      }

      &--pic {
        @include size(5);
        display: flex;
        justify-content: center;
        align-items: flex-start;

        @include xxs-block() {
          display: none;
        }
      }
    }
  }
}

.section-rates {
  overflow-x: auto;

  h2 {
    text-align: center;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    min-width: 486px;
    overflow-x: auto;
    font-weight: 500;
    line-height: 179%;

    td, th {
      padding: 4px;
      text-align: center;
      box-sizing: border-box;
    }

    tr {
      &:nth-child(even) {

        td {
          background: rgba(217, 217, 217, 0.4);
        }

        td:nth-child(1) {
          border-radius: 4px 0 0 4px;
        }

        td:last-child {
          border-radius: 0 4px 4px 0;
        }
      }

      &:nth-child(1n) {
        td {
          color: #6C6C6C;
        }
      }

      &:nth-child(2) {
        td {
          &:nth-child(1) {
            border-radius: 0 0 0 4px;
          }

          &:last-child {
            border-radius: 0 0 4px 0;
          }
        }
      }
    }

    th {
      padding-top: 4px;
      padding-bottom: 4px;
      text-align: center;
      background-color: $color-green;
      color: #fff;

      &:nth-child(1) {
        border-radius: 4px 0 0 0;
      }

      &:last-child {
        border-radius: 0 4px 0 0;
      }
    }
  }
}

.input-block {
  p {
    margin-bottom: $margin-m;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: $margin-l;

    input {
      flex-grow: 1;
      min-width: 194px;
    }
  }
}

.select {
  display: block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.new-select {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  position: relative;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  padding: 8px 15px;
  box-sizing: border-box;
  cursor: pointer;
  color: $color-gray;
  user-select: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 10px;
    height: 1px;
    transition: all 0.3s ease-out;
    background-color: #434343;
    transform: translate(-3px, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }

  &.on::before {
    transform: translate(-3px, -50%) rotate(-45deg);
  }

  &.on::after {
    transform: translate(3px, -50%) rotate(45deg);
  }

  &__list {
    position: absolute;
    top: 37px;
    left: 0;
    border-right: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    cursor: pointer;
    width: 100%;
    user-select: none;
    background-color: #ffffff;
    transition: all 0.3s ease-out;
    border-radius: 0 0 6px 6px;
    z-index: 2;
    box-sizing: border-box;
    overflow: hidden;

    &.on {
      display: block;
    }
  }

  &__item span {
    display: block;
    padding: 3px 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: $color-gray;

    &:hover {
      background-color: $color-green;
      color: #fff;
    }
  }
}

.choice {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .button {
    position: absolute;
    right: 0;

    .next, .prev {
      cursor: pointer;

      &:hover {
        fill: $color-gray;
      }
    }
  }

  .select {
    margin-left: 16px;
  }

  .new-select {
    width: 86px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 500;
    color: $color-gray;

    &::after, &::before {
      content: none;
    }
  }
}

input {
  height: 40px;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  color: $color-gray;
  padding: 8px 15px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  color: $color-gray;
  padding: 8px 15px;
  box-sizing: border-box;
}

.section-exchange {

  &__items {
    @include row-flex();
    justify-content: space-between;
    align-items: center;

    &__item {
      @include col();

      &--form {
        @include size(4.7);
        @include size-sm(12);
        align-self: flex-start;

        .btn {
          width: 100%;
          margin-top: 20px;
        }
      }

      &--video {
        @include size(6.26);
        display: flex;
        justify-content: flex-end;
        position: relative;
        cursor: pointer;

        @include sm-block() {
          display: none;
        }

        &:hover {
          .play svg {
            transform: scale(1.1);
          }
        }

        img {
          width: 100%;
          height: auto;
        }

        .play {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          svg {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}

.section-callback {
  padding-bottom: 100px;

  @include xxs-block() {
    padding-bottom: 50px;
  }

  h2 {
    text-align: center;
  }

  &__items {
    @include row-flex();
    justify-content: space-between;
    align-items: center;

    &__item {
      @include col();

      &--form {
        @include size(5);
        @include size-sm(12);
        align-self: flex-start;
        padding-right: 26px;

        @include sm-block() {
          padding-right: 0;
        }

        .btn {
          width: 100%;
          margin-top: 20px;
        }
      }

      &--pic {
        @include size(6.26);
        display: flex;
        justify-content: flex-end;
        position: relative;

        @include sm-block() {
          display: none;
        }

        img {
          width: 100%;
          height: auto;
        }

        .play {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          svg {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}

.footer {
  flex: 0 0 auto;
  background-color: #D9D9D9;
  padding: 26px 0;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {

      &:hover {
        color: $color-green;
      }

      svg {
        fill: $color-gray;
      }
    }

    @include sm-block() {
      flex-direction: column;

      a {
        margin-bottom: 24px;
      }
    }

    @include xs-block() {
      align-items: flex-start;
    }

    .logo {
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;

      &:hover {
        color: $color-green;
      }
    }

    a {
      display: flex;
      align-items: center;
      color: $color-gray;

      .icon {
        margin-right: 16px;
      }
    }
  }
}

.content {
  padding-top: 46px;
  padding-bottom: 100px;

  @include sm-block() {
    padding-top: 32px;
    padding-bottom: 32px;

    .h2 {
      font-size: 28px;
      margin-bottom: 38px;
    }

    .h3 {
      margin-top: 32px;
      margin-bottom: 16px;
    }

    ol {
      margin-top: 16px;
      margin-bottom: 32px;
    }

    .warning {
      margin-bottom: 16px;
    }

    .center {
      margin-top: 32px;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
  }

  .h3 {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: $margin-l;

    .number {
      min-width: 32px;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: $color-green;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      color: #fff;
      box-sizing: border-box;
      margin-right: 13px;
    }
  }

  p {
    margin-bottom: $margin-l;
  }

  a {
    color: $color-green;

    &:hover {
      color: $color-black;
    }
  }

  ol {
    margin: $margin-l 0 0 $margin-l;
    padding: 0;

    li {
      margin-bottom: $margin-m;
    }
  }

  .warning {
    display: flex;
    align-items: center;
    background: #D9D9D9;
    border-radius: 6px;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-bottom: $margin-l;

    .icon {
      max-width: 24px;
      height: 24px;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F73333;
      border-radius: 50%;
      margin-right: 10px;
    }

    div {
      width: calc(100% - 34px);
    }
  }

  .center {
    text-align: center;
    margin-top: 50px;
  }

  &-agreement {
    h3 {
      margin-bottom: 30px;

      @include sm-block() {
        margin-bottom: 18px;
      }
    }
  }
}