<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gulp-scss-starter</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="images/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="images/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="images/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="images/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="images/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="images/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="images/favicons/apple-touch-icon-1024x1024.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>

<header class="header">
    <div class="wrapper">
        <div class="header__items">
            <div class="header__items__item">
                <a href="index.html" class="header__items__item--logo">
                    <span>N<span class="green">i</span>xExchange</span>
                </a>
            </div>
            <nav class="header__items__item header__items__item--nav">
                <ul class="header__items__item--menu">
                    <li><a href="exchange.html" class="">Как обменивать?</a></li>
                    <li><a href="#">Курс валют</a></li>
                    <li><a href="#">Обмен валют</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <div class="header__items__item">
                <a href="tel:+7 123 456 7890" class="header__items__item--phone">
                    <svg>
                        <use xlink:href="images/icons/sprite.svg#phone"></use>
                    </svg>
                    <span>+7 123 456 7890</span>
                </a>
            </div>
            <div class="mobile-nav-button">
                <div class="mobile-nav-button__line"></div>
                <div class="mobile-nav-button__line"></div>
                <div class="mobile-nav-button__line"></div>
            </div>
        </div>
        <nav class="mobile-menu">
            <ul>
                <li><a href="exchange.html">Как обменивать?</a></li>
                <li><a href="#">Курс валют</a></li>
                <li><a href="#">Обмен валют</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <a href="tel:+7 123 456 7890" class="phone">
                <svg>
                    <use xlink:href="images/icons/sprite.svg#phone"></use>
                </svg>
                <span>+7 123 456 7890</span>
            </a>
        </nav>
    </div>
    <div class="bg"></div>
</header>

<main class="main">
    <div class="wrapper">
        <div class="content content-agreement">
            <h1 class="h2">Правила и условия предоставления услуг сервисом <br><span
                    class="green">NixExchange.COM</span></h1>
            <h3>Пользовательское соглашение</h3>
            <p>1. Термины и определения</p>
            <p>1.1. NixExchange ("Сервис") – это автоматизированный сервис обмена электронных валют, оказывающий услуги
                Пользователям с помощью специального программного интерфейса, расположенный в сети Интернет по адресу
                https://nixexchange.com.</p>
            <p>1.2. Пользователь — это любое физическое или юридическое лицо, согласившееся со всеми условиями,
                предложенными Сервисом, и присоединившееся к данному соглашению.</p>
            <p>1.3. Электронные единицы (титульные знаки) — учетные единицы соответствующих систем электронных
                расчетов, обозначающие определенный объем прав требования или иных прав, вытекающих из договора систем
                электронных расчетов со своими пользователями.</p>
            <p>1.4. Система электронных расчетов (платежная система) — программно-аппаратный продукт, разработанный
                третьей стороной и представляющий собой систему реализации учета электронных единиц, а также организации
                взаиморасчетов между своими пользователями.</p>
            <p>1.5. Платеж — перевод электронных единиц от плательщика к получателю.</p>
            <p>1.6. Заявка — информация, поданная Пользователем с использованием средств Сервиса в электронном виде,
                свидетельствующая о его намерениях воспользоваться услугами Сервиса на условиях, предложенных Сервисом и
                указанных в параметрах заявки.</p>
            <p>2. Общие положения</p>
            <p>2.1. Данное соглашение регламентирует отношения между Пользователем и Сервисом по поводу услуг,
                предоставляемых Сервисом Пользователю и отменяет все предшествующие договоренности между Сервисом и
                Пользователем по данному предмету.</p>
            <p>2.2. Данное соглашение не отменяет действующего законодательства стран регистрации и местонахождения
                Сервиса и Пользователя, а также договорных отношений между Пользователем и Системой (системами)
                электронных расчетов.</p>
            <p>2.3. Данное соглашение считается принятым на условиях публичной оферты, акцептуемой Пользователем в ходе
                подачи им Заявки, являющейся неотъемлемой частью настоящего соглашения.</p>
            <p>2.3.1. Публичной офертой признается отображаемая Сервисом информация о параметрах и условиях Заявки.</p>
            <p>2.3.2. Акцептом публичной оферты признается совершение Пользователем действий по завершению формирования
                Заявки, подтверждающих его намерение совершить сделку с Сервисом на условиях, предложенных Сервисом
                непосредственно перед завершением формирования Заявки.</p>
            <p>2.3.3. Дата и время акцепта, а также параметры условий Заявки фиксируются Сервисом автоматически в
                момент завершения формирования Заявки.</p>
            <p>2.4. Данное соглашение вступает в действие с момента завершения формирования Заявки Пользователем.</p>
            <p>2.5. Данное соглашение прекращает свое действие с момента поступления на реквизиты, предоставленные
                Пользователем, Электронных единиц в сумме, предусмотренной параметрами Заявки Пользователя, либо с
                момента аннулирования заявки.</p>
            <p>2.6. Стороны признают настоящее соглашение в электронной форме равнозначным по юридической силе
                договору, заключенному в письменной форме.</p>
            <p>2.7. Сервис оставляет за собой право в одностороннем порядке вносить изменения в данное соглашение без
                соответствующего уведомления об этом Пользователя, но с обязательной публикацией актуальной версии
                соглашения на данной странице.</p>
            <p>3. Предмет соглашения</p>
            <p>3.1. Предметом настоящего Соглашения являются услуги обмена, покупки и продажи титульных знаков
                электронных платежных систем, осуществляемые по заказу Пользователя, а также другие услуги, описанные на
                данном веб-сайте.</p>
            <p>4. Условия предоставления услуг</p>
            <p>4.1. Обработка Заявок Пользователя осуществляется Сервисом в строгом соответствии с политикой
                приватности (пункт 5 настоящего соглашения), а также политикой по противодействию отмыванию денег и
                предотвращению операций, носящих незаконный характер (пункт 6 настоящего соглашения).</p>
            <p>4.2. Заказ услуг Сервиса, управление процессом сделки и получение информации о ходе выполнения сделки
                Пользователем производятся исключительно при помощи соответствующего пользовательского интерфейса,
                предоставляемого Сервисом.</p>
            <p>4.3. Учет операций с электронными единицами производится Сервисом согласно регламенту, правилам и
                формату соответствующих Систем электронных расчетов.</p>
            <p>4.4. Любая завершенная операция, проведенная Сервисом по Заявке Пользователя, считается неотменяемой,
                т.е. не может быть отменена Пользователем после ее завершения — получения Пользователем причитающегося
                ему по ранее акцептованным условиям сделки.</p>
            <p>4.5. В случае непоступления от Пользователя электронных единиц в течение одного часа с момента акцепта
                Пользователя на реквизиты, предоставленные Сервисом, соглашение на условиях, указанных в Заявке,
                считается расторгнутым Сервисом в одностороннем порядке как невступившее в действие, без уведомления об
                этом Пользователя.</p>
            <p>4.5.1. В случае расторжения соглашения Электронные единицы, поступившие после указанного выше срока,
                подлежат возврату на реквизиты отправителя в течение последующих 24 часов. При осуществлении возврата
                все комиссионные расходы на перевод электронных единиц производятся из поступивших средств за счет
                Пользователя. Сервис не несет ответственность за возможные задержки при возврате, если они возникли не
                по вине Сервиса.</p>
            <p>4.6. В случае, если количество поступивших Электронных единиц отличается от заявленного Пользователем,
                Сервис может в одностороннем порядке расторгнуть соглашение путем отказа от исполнения заявки и возврата
                поступивших средств на реквизиты отправителя в течение последующих 24 часов. При осуществлении возврата
                все комиссионные расходы на перевод Электронных единиц производятся из поступивших средств за счет
                Пользователя. Сервис не несет ответственность за возможные задержки при возврате, если они возникли не
                по вине Сервиса.</p>
            <p>4.6.1 В случае, если количество поступивших Электронных единиц отличается от заявленного Пользователем и
                совпадает с количеством Электронных единиц, которые Сервис ожидал получить от другого Пользователя,
                Сервис может посчитать, что получил Электронные единицы от другого Пользователя, и исполнить свои
                обязательства перед другим Пользователем согласно этому соглашению. В этом случае Сервис не несёт
                отвественности за полученные Электронные единицы и не обязан их возвращать Пользователю.</p>
            <p>4.6.2 В случае, если Электронные единицы поступили от Пользователя после отмены Заявки Пользователем или
                Электронные единицы поступили от Пользователя по истечении 2-х часов (120 минут) с момента создания
                Заявки, и количество Электронных единиц совпадает с количеством Электронных единиц, которые Сервис
                ожидал получить от другого Пользователя, Сервис может посчитать, что получил Электронные единицы от
                другого Пользователя, и исполнить свои обязательства перед другим Пользователем согласно этому
                соглашению. В этом случае Сервис не несёт отвественности за полученные Электронные единицы и не обязан
                их возвращать Пользователю.</p>
            <p>4.7. В случае неотправки денежного эквивалента на указанные Пользователем реквизиты в течение 24 часов с
                момента начала действия соглашения, при отсутствии причин для блокировки Электронных единиц, поступивших
                по Заявке Пользователя со стороны Сервиса, Пользователь может потребовать расторжения соглашения путем
                аннулирования своей заявки и возврата электронных единиц в полном объеме.</p>
            <p>4.7.1. Требование об аннулировании заявки должно быть исполнено Сервисом только в том случае, если на
                момент получения такого требования денежный эквивалент не был отправлен на реквизиты, указанные
                Пользователем.</p>
            <p>4.7.2. В случае аннулирования заявки возврат Электронных единиц производится Сервисом на реквизиты
                отправителя в течение 24 часов с момента получения требования об аннулировании. Сервис не несет
                ответственность за возможные задержки при возврате, если они возникли не по вине Сервиса.</p>
            <p>4.8. Сервис имеет право привлекать для исполнения своих обязательств сторонних исполнителей.</p>
            <p>4.9. Сервис имеет право отменить выполняющуюся операцию и вернуть внесенные Пользователем Электронные
                единицы и/или финансовые средства c возмещением комиссий Систем электронных расчетов Пользователю без
                объяснения причин.</p>
            <p>4.10. Сервис имеет право отказать Пользователю в дальнейшем обслуживании в случае нарушения
                Пользователем любого из пунктов настоящего соглашения.</p>
            <p>4.10.1. В случае отказа Сервисом от дальнейшего обслуживания Пользователя, Сервис уведомляет
                Пользователя о своем решении при помощи электронной почты или телефонного звонка. Далее, Сервис
                осуществляет возврат Электронных единиц, поступивших по Заявке Пользователя на реквизиты отправителя в
                течение 24 часов с момента отказа. При осуществлении возврата все комиссионные расходы на перевод
                Электронных единиц производятся из поступивших средств за счет Пользователя. Сервис не несет
                ответственность за возможные задержки при возврате, если они возникли не по вине Сервиса.</p>
            <p> Пользователя, автоматически замораживаются.</p>
            <p>4.10.2. Все последующие Заявки, созданные Пользователем после отказа Сервисом в дальнейшем обслуживании</p>
            <p>4.11. Сервис имеет право задержать выполнение транзакции до проведения идентификации личности клиента, с
                помощью звонка по телефону, а также другими способами не противоречащими действующему занонодательству.</p>
            <p>5. Политика конфиденциальности</p>
            <p>5.1. Для проведения операций Сервис принимает от Пользователя его персональные данные, которые Сервис
                обязуется хранить в зашифрованном виде, не придавать огласке, не передавать третьим лицам, за
                исключением случаев, описанных в п. 5.4, 5.5 и 6.5 настоящего соглашения.</p>
            <p>5.2. Проведение всех операций с Заявками, а также передача персональных данных от Пользователя к Сервису
                осуществляется по зашифрованному SSL-каналу с длиной ключа 256 бит.</p>
            <p>5.3. Сервис имеет право при необходимости самостоятельно осуществлять деятельность по сбору
                дополнительных данных о Пользователе любыми доступными способами. Вся информация, собранная в результате
                такой деятельности не придается огласке, не передается третьим лицам, за исключением случаев, описанных
                в п. 5.4, 5.5 и 6.5 настоящего соглашения.</p>
            <p>5.4. Сервис имеет право передавать персональные данные Пользователя и детали совершенных им операций при
                условии сохранения их конфиденциального статуса по официальному письменному запросу / решению суда /
                собственной инициативе (в случае возникновения потребности в проведении расследования)
                правоохранительным органам, а также Пользователю, которому они принадлежат.</p>
            <p>5.5. Сервис имеет право передавать детали операции и относящиеся к операции персональные данные
                Пользователя по официальному запросу Системы электронных расчетов для проведения внутренних
                расследований.</p>
            <p>5.6. Все собранные данные о Пользователе, а также детали совершенных им операций хранятся в базе данных
                Сервиса в течение пяти лет с момента выполнения Сервисом последней Заявки Пользователя.</p>
            <p>6. Политика противодействия отмыванию денег и незаконным операциям</p>
            <p> 6.1. В соответствии с международным законодательством NixExchange придерживается ряда правил и реализует
                ряд процедур, направленных на предотвращение использования Сервиса с целью проведения операций по
                отмыванию денег, то есть действий, нацеленных на возвращение на финансово-экономический рынок денег или
                иных ценных бумаг незаконного происхождения, представляя их приобретение и владение ими вполне законными
                и нормальными, а также проведению иных операций, носящих незаконный характер.</p>
            <p>6.2. Для предотвращения операций незаконного характера Сервис устанавливает определенные требования ко
                всем Заявкам, создаваемым Пользователем:</p>
            <p>6.2.1. Отправителем и получателем Платежа по Заявке должно быть одно и то же лицо. С использованием
                услуг Сервиса категорически запрещены переводы в пользу третьих лиц.</p>
            <p>6.2.2. Все контактные данные, заносимые Пользователем в Заявку, а также иные персональные данные,
                передаваемые Пользователем Сервису, должны быть актуальными и полностью достоверными.</p>
            <p>6.2.3. Категорически запрещено создание Заявок Пользователем с использованием анонимных прокси-серверов
                или каких-либо других анонимных подключений к Интернет.</p>
            <p>6.3. Для предотвращения операций незаконного характера, Сервис:
                Использует внутреннюю систему автоматизированного анализа транзакций и поведения Пользователя (систему
                предотвращения мошенничества), останавливающую все подозрительные транзакции Пользователя.
                Устанавливает лимиты на операции Пользователя в зависимости от уровня идентификации личности
                Пользователя и страны его происхождения.
                Придерживается политики «Знай своего клиента».
                Осуществляет проверку всеми доступными способами всех данных, предоставляемых Пользователем.</p>
            <p>6.4. Сервис оставляет за собой право заморозить все текущие Заявки Пользователя до момента получения от
                Пользователя копий документов, удостоверяющих личность Пользователя, а также источник происхождения
                Электронных единиц и другую информацию, необходимую для проверки производимой операции в следующих
                случаях:
                При выявлении нарушения любого из требований, представленных в пункте 6.2 настоящего Соглашения.
                При остановке Заявки Пользователя системой предотвращения мошенничества.
                При возникновении обоснованных подозрений у администрации Сервиса в том, что пользователь пытается
                воспользоваться услугами Сервиса для отмывания денег или с целью проведения любых других незаконных
                операций.</p>
            <p>В свою очередь, Пользователь обязуется предоставить запрашиваемый документ в течение 7 рабочих дней с
                получения запроса на его предоставление, либо запросить аннулирование заявки.</p>
            <p>6.4.1. В случае отказа Пользователя предоставить запрашиваемые документы Сервис оставляет за собой право
                отказать Пользователю в дальнейшем обслуживании и предпринять действия, описанные в п. 4.10 настоящего
                соглашения.</p>
            <p>6.5. Сервис оставляет за собой право отказать Пользователю в дальнейшем обслуживании и предпринять
                действия, описанные в п. 4.10 настоящего соглашения, после чего передать все имеющиеся у Сервиса данные
                Пользователя, а также всю имеющуюся информацию об операциях Пользователя в правоохранительные органы в
                случаях:
                Выявления транзакций, целью которых является отмывание денег, финансирование террористических
                организаций, мошенничество любого рода, а также транзакций, направленных на проведение любых других
                незаконных и неправомерных операций.
                Возникновении обоснованного подозрения у Сервиса в том, что предоставленный Пользователем документ для
                идентификации личности Пользователя является поддельным или недействительным.
                Поступления информации от уполномоченных на то органов о неправомочности владения Пользователем
                электронными единицами или финансовыми средствами и/или иная информация, делающая невозможным
                предоставление Сервисом услуг Пользователю.
                Выявления любых действий или попытки совершения действий Пользователем, направленных на оказание любого
                негативного влияния на программно-аппаратный комплекс Сервиса.
                Выявления любых действий или попытки совершения действий Пользователем, направленных на хищение баз
                данных и другого материального и нематериального имущества Сервиса.
                Выявления любых действий или попытки совершения действий Пользователем, способных нанести любой
                физический, материальный и нематериальный вред Сервису.</p>
            <p>6.6. Сервис оставляет за собой право проверять всеми доступными ему способами персональную и любую
                другую информацию, полученную от Пользователя.</p>
            <p>7. Ограничение ответственности</p>
                7.1. Сервис не является банком. Сервис предлагает свои услуги круглосуточно, без выходных и будет
                стремиться к тому, чтобы программно-аппаратный комплекс, реализующий возможности Сервиса, работал без
                сбоев.
            <p>7.2. Сервис предоставляет свои услуги на условиях «как есть», как они описаны на страницах сайта Сервиса
                и не предлагает никаких дополнительных гарантий.</p>
            <p>7.3. Используя Сервис, Пользователь соглашается с тем, что объем ответственности Сервиса ограничивается
                средствами, полученными от Пользователя для исполнения предмета настоящего соглашения, что Сервис не
                обеспечивает дополнительных гарантий и не несет никакой дополнительной ответственности перед
                Пользователем, также как и Пользователь не несет дополнительной ответственности перед Сервисом, за
                исключением случаев, указанных в п. 7.9.</p>
            <p>7.4. Сервис приложит все усилия, но не гарантирует, что его услуги будут доступны круглосуточно,
                ежедневно. Сервис не несет никакой ответственности за убытки, неполученную прибыль и иные издержки
                Пользователя, возникшие в результате невозможности получения доступа к сайту и услугам Сервиса.</p>
            <p>7.5. Сервис не несет никакой ответственности за убытки, неполученную прибыль и иные издержки
                Пользователя, явившиеся результатом задержек, ошибок или сбоев в проведении банковских платежей или
                электронных переводов.</p>
            <p>7.6. Сервис не несет никакой ответственности за убытки, неполученную прибыль и иные издержки
                Пользователя, явившиеся результатом ошибочных ожиданий Пользователя в отношении тарифных ставок Сервиса,
                прибыльности транзакций и иных субъективных факторов.</p>
            <p>7.7. В случае предоставления Пользователем ошибочных данных в информации о реквизитах получателя
                денежных средств Сервис не несет никакой ответственности за любые неблагоприятные последствия или ущерб,
                возникшие в результате этой ошибки.</p>
            <p>7.8. Пользуясь услугами Сервиса, Пользователь самостоятельно несет ответственность за выплату налогов в
                соответствии с налоговым законодательством страны по месту его проживания. Сервис не является налоговым
                агентом и не будет уведомлять Пользователя о каких-либо возможных налоговых издержках при использовании
                услуг Сервиса.</p>
            <p>7.9. Пользователь гарантирует возмещение убытков Сервиса (управляющей компании, руководителей и
                сотрудников) в случаях предъявления исков или претензий, прямо или косвенно связанных с использованием
                Пользователем услуг Сервиса, за исключением убытков, вызванных виновными (умышленными или неосторожными)
                действиями самого Сервиса.</p>
            <p>7.10. Пользователь гарантирует, что является владельцем или имеет правомочные основания для распоряжения
                суммами, использующимися в его транзакциях.</p>
            <p>7.11. Пользователь обязуется воздержаться от использования услуг Сервиса для проведения мошеннических и
                незаконных операций и соглашается с тем, что любая попытка обмена мошеннического капитала будет иметь
                судебное преследование по всей строгости закона. Действия Пользователя могут считаться незаконными в
                соответствии с законодательством страны пребывания Пользователя и/или страны, где зарегистрирован
                Сервис.</p>
            <p>7.12. Пользователь обязуется не фальсифицировать коммуникационные потоки, связанные с функционированием
                Сервиса, не вмешиваться в его программную и/или аппаратную часть, а также не оказывать какого-либо иного
                влияния, способного нарушить нормальную работу Сервиса, понимая, что подобные действия будут иметь
                судебное преследование по всей строгости закона.</p>
            <p>7.12.1. В случае обнаружения фальсификации коммуникационных потоков или оказания какого-либо негативного
                влияния на нормальную работу программного кода Сервиса, имеющего прямое или косвенное отношение к заявке
                Пользователя, исполнение заявки Сервисом приостанавливается, после чего предпринимаются действия,
                описанные в п. 6.5 настоящего соглашения.</p>
            <p>7.13. Пользователь признает, что содержимое сайта Сервиса попадает под защиту законодательства об охране
                прав собственности, интеллектуальной собственности и авторских прав. Несанкционированное использование
                этого содержимого незаконно.</p>
            <p>7.14. Ни Пользователь, ни Сервис не будут ответственны друг перед другом за задержки или неисполнение
                своих обязательств, являющихся результатом возникновения обстоятельств непреодолимой силы, включая
                стихийные бедствия, пожар, наводнение, террористические акты, смены власти, гражданские волнения, а
                также нефункционирования Электронных расчетных систем, систем энергоснабжения, сетей связи и поставщиков
                Интернет-услуг.</p>
            <p>7.15. Электронные расчетные системы и/или финансовые учреждения несут исключительную ответственность за
                средства, вверенные им Пользователем. Сервис не может являться стороной в соглашении между Платежной
                системой и/или финансовым учреждением и Пользователем и ни в какой мере не несет ответственности за
                неправильное или неправомочное использование возможностей Электронной расчетной системы Пользователем, а
                также за злоупотребление Пользователем функциональностью Электронной расчетной системы. Взаимные права и
                обязанности Пользователя и Электронной расчетной системы и/или финансового учреждения регулируются
                соответствующими договорами.</p>
            <p>8. Порядок принятия претензий и разрешения споров</p>
            <p>8.1. Споры и разногласия, возникшие в рамках предоставления услуг Сервисом Пользователю, разрешаются
                путем переговоров Пользователя с администрацией Сервиса, на основе положений настоящего соглашения.</p>
            <p>8.1.1. Любые претензии по настоящему соглашению могут быть приняты Сервисом в электронном виде путем
                отправки сообщения по сути претензии на реквизиты (страница контакты), указанные на сайте Сервиса.</p>
            <p>8.2. В случае невозможности разрешения возникающих вопросов путем переговоров, спор разрешается в
                соответствии с действующим законодательством по месту регистрации Сервиса.</p>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="wrapper">
        <div class="footer__items">
            <a href="index.html" class="logo">
                <span>N<span class="green">i</span>xExchange</span>
            </a>
            <a href="mailto:support@nixexchange.com">
                <svg class="icon">
                    <use xlink:href="images/icons/sprite.svg#mail"></use>
                </svg>
                <span>support@nixexchange.com</span>
            </a>
            <a href="">
                <svg class="icon">
                    <use xlink:href="images/icons/sprite.svg#telegram"></use>
                </svg>
                <span>nixexchange_bot</span>
            </a>
            <a href="tel:+7 123 456 7890">
                <svg class="icon">
                    <use xlink:href="images/icons/sprite.svg#phone"></use>
                </svg>
                <span>+7 123 456 7890</span>
            </a>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>

</html>